{%- liquid
  unless settings_object
    assign settings_object = settings
  endunless
-%}
<div class="product-block collection-block" {{ custom_attrs }}>
  <div class="block-inner">
    <div class="product-link">
      <div class="image-cont
        {%- if settings_object.coll_text_position contains 'over' %}
          image-overlay
          image-overlay--bg-{{ settings_object.coll_text_position | remove_first: 'over-' }}
          image-overlay--edge-boxes
        {% endif %}">
        {% capture placeholder_svg_name %}collection-{{ forloop.index | modulo: 6 | plus: 1 }}{% endcapture %}
        <div class="image-overlay__image placeholder-image placeholder-image--shape-{{ settings_object.coll_grid_image_shape }}">{{ placeholder_svg_name | placeholder_svg_tag }}</div>

        {%- if settings_object.coll_text_position contains 'over' -%}
          <div class="text-overlay text-overlay--tight text-overlay--v-{{ settings_object.coll_thumb_text_align_y }} text-overlay--h-{{ settings_object.coll_thumb_text_align_x }} image-overlay__over{% if settings_object.coll_text_position_under_mobile %} desktop-only{% endif %}">
            <div class="text-overlay__inner">
              <div class="text-overlay__text">
                {%- if subheading != blank -%}
                  <div class="text-overlay__subheading subheading subheading--over">{{ subheading | escape }}</div>
                {%- endif -%}

                <div class="text-overlay__title">
                  <h2 class="h4">{{ 'onboarding.collection.title' | t }}</h2>
                  {% if settings_object.coll_grid_show_count and collection.all_products_count > 0 %}
                    <div class="small-text">{{ 'sections.collection.product_count' | t: count: 0 }}</div>
                  {% endif %}
                </div>

                {%- if button_label != blank -%}
                  <div class="text-overlay__button-row text-overlay__button-row--{{ settings_object.coll_button_style }}">
                    <span class="text-overlay__button {% if settings_object.coll_button_style != 'link' %}btn btn--{{ settings_object.coll_button_style }}{% else %}small-feature-link{% endif %}">{{ button_label | escape }}</span>
                  </div>
                {%- endif -%}
              </div>
            </div>
          </div>
        {%- endif -%}
      </div>
      {%- if settings_object.coll_text_position == 'below' or settings_object.coll_text_position_under_mobile -%}
        <div class="product-block__detail align-{{ settings_object.coll_thumb_text_align_x }}{% if settings_object.coll_text_position != 'below' %} mobile-only{% endif %}">
          {%- if subheading != blank -%}
            <div class="subheading lightly-spaced-row">{{ subheading | escape }}</div>
          {%- endif -%}
          <div class="product-block__title">{{ 'onboarding.collection.title' | t }}</div>
          {% if settings_object.coll_grid_show_count and collection.all_products_count > 0 %}
            <div class="small">{{ 'sections.collection.product_count' | t: count: 0 }}</div>
          {% endif %}
          {%- if button_label != blank -%}
            <div class="button-row">
              <span class="button-row__btn {% if settings_object.coll_button_style != 'link' %}btn btn--{{ settings_object.coll_button_style }}{% else %}small-feature-link{% endif %}">{{ button_label | escape }}</span>
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>
