{%- liquid
  assign uses_comma_decimals = false
  assign currency_test_string_unit = 101 | money_without_currency
  assign currency_test_string_thou = 100000 | money_without_currency

  if currency_test_string_unit == '1,01' or currency_test_string_thou == '1.000'
  	assign uses_comma_decimals = true
  endif
-%}
<link rel="stylesheet" href="{{ 'price-range.css' | asset_url }}">
<script src="{{ 'price-range.js' | asset_url }}" defer></script>
<price-range class="cc-price-range">
  <div class="cc-price-range__input-row">
    <div class="cc-price-range__input-container">
      <span class="cc-price-range__input-currency-symbol">{{ cart.currency.symbol }}</span>
      <input class="cc-price-range__input cc-price-range__input--min"
        id="CCPriceRangeMin"
        name="{{ filter.min_value.param_name }}"
        {%- if filter.min_value.value -%}
          {%- if uses_comma_decimals -%}
            value="{{ filter.min_value.value | money_without_currency | remove: ' ' | remove: "'" | remove: '.' | replace: ',', '.' | floor }}"
          {%- else -%}
            value="{{ filter.min_value.value | money_without_currency | remove: ' ' | remove: "'" | remove: ',' | floor }}"
          {%- endif -%}
        {% endif %}
        placeholder="0"
        type="text"
        inputmode="numeric"
        pattern="[0-9]*"
        step="10"
        min="0"
        {%- if uses_comma_decimals -%}
          max="{{ filter.range_max | money_without_currency | remove: ' ' | remove: "'" | remove: '.' | replace: ',', '.' | floor }}"
        {%- else -%}
          max="{{ filter.range_max | money_without_currency | remove: ' ' | remove: "'" | remove: ',' | floor }}"
        {% endif %}
        aria-label="{{ 'products.filtering.min_price_label' | t | escape }}" />
    </div>
    <div class="cc-price-range__input-container">
      <span class="cc-price-range__input-currency-symbol">{{ cart.currency.symbol }}</span>
      <input class="cc-price-range__input cc-price-range__input--max"
        id="CCPriceRangeMax"
        name="{{ filter.max_value.param_name }}"
        {%- if filter.max_value.value -%}
          {%- if uses_comma_decimals -%}
            value="{{ filter.max_value.value | money_without_currency | remove: ' ' | remove: "'" | remove: '.' | replace: ',', '.' | ceil }}"
          {%- else -%}
            value="{{ filter.max_value.value | money_without_currency | remove: ' ' | remove: "'" | remove: ',' | ceil }}"
          {% endif %}
        {%- endif -%}
        {%- if uses_comma_decimals -%}
          placeholder="{{ filter.range_max | money_without_currency | remove: ' ' | remove: "'" | remove: '.' | replace: ',', '.' | ceil }}"
        {%- else -%}
          placeholder="{{ filter.range_max | money_without_currency | remove: ' ' | remove: "'" | remove: ',' | ceil }}"
        {% endif %}
        type="text"
        inputmode="numeric"
        pattern="[0-9]*"
        step="10"
        min="0"
        {%- if uses_comma_decimals -%}
          max="{{ filter.range_max | money_without_currency | remove: ' ' | remove: "'" | remove: '.' | replace: ',', '.' | ceil }}"
        {%- else -%}
          max="{{ filter.range_max | money_without_currency | remove: ' ' | remove: "'" | remove: ',' | ceil }}"
        {% endif %}
        aria-label="{{ 'products.filtering.max_price_label' | t | escape }}" />
    </div>
  </div>

  <div class="cc-price-range__bar">
    <div class="cc-price-range__bar-inactive"></div>
    <div class="cc-price-range__bar-active"></div>
    <div id="CCPriceRangeSliderMin" class="cc-price-range__control cc-price-range__control--min" aria-label="{{ 'products.filtering.min_price_label' | t | escape }}"></div>
    <div id="CCPriceRangeSliderMax" class="cc-price-range__control cc-price-range__control--max" aria-label="{{ 'products.filtering.max_price_label' | t | escape }}"></div>
  </div>
</price-range>
