{%- liquid
  if product.template_suffix contains 'preorder'
    assign add_to_cart_text = 'products.product.preorder' | t
  else
    assign add_to_cart_text = 'products.product.add_to_cart' | t
  endif

  if section.settings.sticky_atc_behavior == 'scroll' or current_variant == false
    assign button_text = 'products.product.view_details' | t
  elsif current_variant.available
    assign button_text = add_to_cart_text
  else
    assign button_text = 'products.variant.no_stock' | t
  endif

  assign anchor = '#product-info'
  assign product_form_id = 'product-form-' | append: section.id | append: '-' | append: product.id | append: '-sticky'
-%}

<link rel="stylesheet" href="{{ 'sticky-atc.css' | asset_url }}" media="print" onload="this.media='all'">
<script src="{{ 'sticky-atc.js' | asset_url }}" defer="defer"></script>

<sticky-atc class="sticky-atc sticky-atc--out sticky-atc--{{ section.settings.sticky_atc_position }}{% if section.settings.sticky_atc_mobile == false %} sticky-atc--hide-on-mobile{% endif %} invisible" data-current-variant="{{ current_variant.id }}">
  <div class="sticky-atc__image img-ar img-ar--contain"></div>
  <div class="sticky-atc__details">
    <div class="sticky-atc__details__title">
      {{- product.title | escape -}}
    </div>
    <div class="sticky-atc__details__variant small-text"{% unless current_variant %} hidden{% endunless %}>
      {%- unless product.has_only_default_variant -%}
        <span class="sticky-atc__details__variant__title">
          {{- current_variant.title | escape -}}
        </span>
        {%- if section.settings.sticky_atc_behavior == 'add_to_cart' -%}
          <span class="sticky-atc__details__variant__sep">
            &ndash;
          </span>
          <a class="sticky-atc__details__variant__change underline" href="{{ anchor }}">
            {{- 'products.variant.change' | t -}}
          </a>
        {%- endif -%}
      {%- endunless -%}
    </div>
  </div>
  <div class="sticky-atc__buttons">
    {%- if section.settings.sticky_atc_behavior == 'add_to_cart' -%}
      {% form 'product', product, id: product_form_id, class: 'form js-product-form', data-product-id: product.id %}
        <input type="hidden" name="id" value="{{ current_variant.id }}">
        <button
            class="btn btn--{{ section.settings.sticky_atc_button_style }} btn--compact add-to-cart"
            type="submit"
            name="add"
            data-unavailable-text="{{ 'products.product.view_details' | t }}"
            data-add-to-cart-text="{{ add_to_cart_text | escape }}">
          {{- button_text -}}
        </button>
      {% endform %}
    {%- else -%}
      <a class="btn btn--{{ section.settings.sticky_atc_button_style }} btn--compact add-to-cart" href="{{ anchor }}">
        {{- button_text -}}
      </a>
    {%- endif -%}
  </div>
  <div class="sticky-atc__error js-form-error" role="alert" hidden></div>
</sticky-atc>
