{%- liquid
  assign rtl_langs = 'ar,arc,dv,fa,ha,he,khw,ks,ku,ps,ur,yi' | split: ','
  assign current_lang = localization.language.iso_code | split: '-' | first
  if rtl_langs contains current_lang
    assign lang_dir = 'rtl'
  else
    assign lang_dir = 'ltr'
  endif
-%}
<!doctype html>
<html class="no-js h-full" lang="{{ request.locale.iso_code }}" dir="{{ lang_dir }}">
<head>
  {%- render 'doc-head-core' -%}
  {%- render 'doc-head-social' -%}

  {%- liquid
    assign base_font = settings.type_base_font
    assign base_font_bold = base_font | font_modify: 'weight', 'bolder'
    assign base_font_medium = base_font | font_modify: 'weight', '500'
    assign base_font_italic = base_font | font_modify: 'style', 'italic'
    assign base_font_bold_italic = base_font_bold | font_modify: 'style', 'italic'
    assign heading_font = settings.type_heading_font
    assign logo_font = settings.type_logo_font
  -%}

  <style>
    {{ base_font | font_face: font_display: 'fallback' }}
    {{ base_font_bold | font_face: font_display: 'fallback' }}
    {{ base_font_medium | font_face: font_display: 'fallback' }}
    {{ base_font_italic | font_face: font_display: 'fallback' }}
    {{ base_font_bold_italic | font_face: font_display: 'fallback' }}
    {{ heading_font | font_face: font_display: 'fallback' }}
    {{ logo_font | font_face: font_display: 'fallback' }}

    {%- render 'doc-head-styles' -%}
  </style>

  {{ 'main.css' | asset_url | stylesheet_tag: preload: true }}
  {{ 'password.css' | asset_url | stylesheet_tag: preload: true }}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    window.theme = window.theme || {};
    window.theme.info = {
      name: 'Symmetry',
      version: '7.2.1'
    };
    theme.settings = {
      externalLinksNewTab: {{ settings.external_links_new_tab | json }},
      internalLinksSmoothScroll: {{ settings.internal_links_smooth_scroll | json }}
    };
    theme.device = {
      hasTouch: window.matchMedia('(any-pointer: coarse)').matches,
      hasHover: window.matchMedia('(hover: hover)').matches
    };
  </script>

  <script src="{{ 'main.js' | asset_url }}" defer></script>

  {%- if request.design_mode -%}
    <script src="{{ 'theme-editor.js' | asset_url }}" defer></script>
  {%- endif -%}

  {% if settings.animations_enabled_desktop %}
    <script src="{{ 'animate-on-scroll.js' | asset_url }}" defer></script>
    <link rel="stylesheet" href="{{ 'animate-on-scroll.css' | asset_url }}">
  {% endif %}

  {{ content_for_header }}

  {%- if settings.custom_html_head -%}
    <!-- CC Custom Head Start -->
    {{- settings.custom_html_head -}}
    <!-- CC Custom Head End -->
  {%- endif -%}
</head>
<body class="h-full flex flex-col"{% if settings.animations_enabled != "disabled" %} class="cc-animate-enabled"{% endif %}>
  {%- section 'main-password-header' -%}

  <main class="password-main flex flex-col flex-auto justify-center">
    {{ content_for_layout }}
  </main>

  {%- section 'main-password-footer' -%}

  <div class="overlay fixed top-0 right-0 bottom-0 left-0 js-overlay"></div>
</body>
</html>
