<link rel="stylesheet" href="{{ 'collapsible-tabs.css' | asset_url }}" {%- render 'lazy-stylesheet-attrs' %}>
<div class="container" {%- render 'animation-attrs', attrs: 'data-cc-animate' -%}>
  <div class="collapsible-tabs">
    {% if section.settings.title != blank %}
      <h3 class="collapsible-tabs__heading collapsible-tabs__content" id="faq-{{ section.settings.title | handle }}">{{ section.settings.title | escape }}</h3>
    {% endif %}

    {%- for block in section.blocks -%}
      <div class="collapsible-tabs__block" {{ block.shopify_attributes }}>
        {% if block.type == 'content' %}
          <div class="collapsible-tabs__text collapsible-tabs__content rte">{{ block.settings.content }}</div>

        {% elsif block.type == 'button' %}
          <div class="collapsible-tabs__button collapsible-tabs__content">
            <a class="btn btn--primary btn--link" href="{{ block.settings.link }}"><span class="btn__text">{{ block.settings.title | escape }}</span></a>
          </div>

        {% elsif block.type == 'question' %}
          <div class="collapsible-tabs__tab">
            <details-disclosure>
              <details class="disclosure">
                <summary class="disclosure__title">
                  {{- block.settings.title | escape -}}
                </summary>
                <div class="disclosure__panel has-motion">
                  <div class="disclosure__content rte">
                    {{- block.settings.answer -}}
                  </div>
                </div>
              </details>
            </details-disclosure>
          </div>
        {% endif %}
      </div>
    {%- endfor -%}
  </div>
</div>


{% schema %}
{
  "name": "Collapsible tabs",
  "class": "section-collapsible-tabs",
  "disabled_on": {
    "groups": [
      "aside"
    ]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Collapsible tabs"
    }
  ],
  "blocks": [
    {
      "type": "question",
      "name": "Question",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Question",
          "default": "Question"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer",
          "default": "<p>Answer</p>"
        }
      ]
    },
    {
      "type": "content",
      "name": "Paragraph",
      "settings": [
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Label",
          "default": "Button label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collapsible tabs",
      "settings": {
      },
      "blocks": [
        {
          "type": "question"
        },
        {
          "type": "question"
        }
      ]
    }
  ]
}
{% endschema %}
