<style>
    .header-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 50px;
        padding: 0 20px;
        background-color: white;
        border-bottom: 1px solid #eaeaea;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .logo img {
        height: 40px;
    }

    .nav-menu {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .nav-menu li {
        margin: 0 15px;
    }

    .nav-menu a {
        display: block;
        text-decoration: none;
        color: black;
        font-weight: bold;
        padding: 5px;
        height: 100%;
        position: relative
    }
 
    .nav-menu a::before{
        content: '';
        width:0%;
        height: 2px;
        background: linear-gradient(to right, #f27b00, #ca251d);
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        transition: width 0.3s ease, left 0.3s ease;
    }
    .nav-menu a:hover::before {
        width: 100%;
        left: 0;
    }
    .dropdown {
        display: flex;
        width: 100%;
        position: absolute;
        visibility: hidden;
        top: 50px;
        left: 0;
        background: white;
        border: 1px solid #eaeaea;
        transition: opacity 175ms ease-in, visibility 175ms;
        opacity: 0;
        z-index: 10;
        padding-top:20px;
        padding-bottom: 20px;
        padding-left: 25%;
    }

    .dropdown a {
        display: block;
        padding: 10px 15px;
        white-space: nowrap;
        color: #000;
    }

    .dropdown a:hover {
        background-color: #f9f9f9;
    }


    .nav-item:hover .dropdown {
        visibility: visible;
        opacity: 1;
    }

    .child-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 130px;
        height: 130px;
        background-color: #F8F8F8;
        border-radius: 10px;
        margin-right: 10px;
    }
    .icons {
        display: flex;
        align-items: center;
    }

    .icons img {
        width: 20px;
        height: 20px;
        margin: 0 10px;
        cursor: pointer;
    }
    
</style>

<div class="header-nav">
  <!-- 左侧 Logo -->
  <div id="shoplogo">
    <meta itemprop="url" content="{{ shop.url }}">
    <meta itemprop="name" content="{{ shop.name }}">
    {%- if section.settings.logo != blank -%}
      <h1 class="logo" itemscope itemtype="http://schema.org/Organization">
        {%- assign logo_width_x2 = section.settings.logo_img_width_int | times: 2 -%}
        <img
          src="{{ section.settings.logo | image_url: width: logo_width_x2 }}"
          alt="{{ section.settings.logo.alt | escape }}"
          itemprop="logo"
          width="{{ section.settings.logo.width }}"
          height="{{ section.settings.logo.height }}"
          loading="eager"
        >
      </h1>
    {%- else -%}
      <h1 class="logotext">{{ shop.name }}</h1>
    {%- endif -%}
  </div>


  <!-- 中间导航菜单 -->
  <ul class="nav-menu">
    {%- for block in section.blocks -%}
      <li class="nav-item">
        <a href="#">{{block.settings.nav_title}}</a>
        {% assign collection = collections[block.settings.collection] %}
          {% if collection.products.size > 0 %}
            <div class="dropdown">
              {% for product in collection.products %}
                <div class="child-item">
                  <img src="" alt="图片"/>
                  <p>{{ product.title }}</p>
                </div>
              {% endfor %}
            </div>
          {% else %}
            <div class="custom-html">
              {{ section.settings.code }}
            </div>
          {% endif %}
       </li>
    {%- endfor -%}
  </ul>

  <!-- 右侧图标 -->
  <div class="logo-area__right">
    <div class="logo-area__right__inner">
      {% if shop.customer_accounts_enabled %}
        {% if customer %}
          <a
            class="header-account-link"
            href="{{ routes.account_url }}"
            aria-label="{{ 'sections.header.account' | t | escape }}"
          >
            <span class="header-account-link__text {% if section.settings.icon_strategy == 'icons_only' %}visually-hidden{% else %}visually-hidden-mobile{% endif %}">
              {{- 'sections.header.account' | t -}}
            </span>
            <span class="header-account-link__icon{% if section.settings.icon_strategy == 'icons_cart_search' %} mobile-only{% endif %}">
              {%- render 'icon-user' -%}
            </span>
          </a>
        {% else %}
          <a
            class="header-account-link"
            href="{{ routes.account_login_url }}"
            aria-label="{{ 'sections.header.account' | t | escape }}"
          >
            <span class="header-account-link__text {% if section.settings.icon_strategy == 'icons_only' %}visually-hidden{% else %}visually-hidden-mobile{% endif %}">
              {{- 'sections.header.account' | t -}}
            </span>
            <span class="header-account-link__icon{% if section.settings.icon_strategy == 'icons_cart_search' %} mobile-only{% endif %}">
              {%- render 'icon-user' -%}
            </span>
          </a>
        {% endif %}
      {% endif %}
      {% if section.settings.enable_search %}
        <a class="show-search-link" href="{{ routes.search_url }}">
          <span class="show-search-link__text {% if section.settings.icon_strategy == 'icons_only' %}visually-hidden{% else %}visually-hidden-mobile{% endif %}">
            {{- 'sections.header.search' | t -}}
          </span>
          <span class="show-search-link__icon">
            {%- render 'icon-search' -%}
          </span>
        </a>
      {% endif %}
      {%- liquid
        assign cart_hash = ''
        for item in cart.items
          assign cart_hash = cart_hash | append: ',' | append: item.key | append: '|' | append: item.quantity
        endfor
        assign cart_hash = cart_hash | remove_first: ',' | sha256
      -%}
      <a href="{{ routes.cart_url }}" class="cart-link" data-hash="{{ cart_hash }}">
        <span class="cart-link__label {% if section.settings.icon_strategy == 'icons_only' %}visually-hidden{% else %}visually-hidden-mobile{% endif %}">
          {{- 'sections.header.cart' | t | escape -}}
        </span>
        <span class="cart-link__icon">
          {%- liquid
            if section.settings.cart_icon == 'basket'
              render 'icon-basket'
            elsif section.settings.cart_icon == 'bag'
              render 'icon-bag'
            else
              render 'icon-cart'
            endif
          -%}
          <span class="cart-link__count">
            {%- if cart.item_count > 0 -%}
              {{- cart.item_count -}}
            {%- endif -%}
          </span>
        </span>
      </a>
    </div>
  </div>

  {%- if section.settings.enable_search -%}
    {%- liquid
      assign show_search_recommendations = false
      if section.settings.search_recommendations_title != blank or section.settings.search_recommendations_menu != blank
        assign show_search_recommendations = true
      endif
    -%}
    <script src="{{ 'main-search.js' | asset_url }}" defer></script>
    <main-search
      class="main-search {% if show_search_recommendations %}main-search--with-suggestions{% endif %}"
      data-quick-search="{{ settings.enable_quick_header_search }}"
      data-quick-search-meta="{{ settings.quick_search_search_meta }}"
    >
      <div class="main-search__container container">
        <button class="main-search__close" aria-label="{{ 'general.search.close' | t | escape }}">
          {% render 'icon-close', stroke_width: 1 %}
        </button>

        <form class="main-search__form" action="{{ routes.search_url }}" method="get" autocomplete="off">
          <div class="main-search__input-container">
            <input
              class="main-search__input"
              type="text"
              name="q"
              autocomplete="off"
              placeholder="{{ 'general.search.placeholder' | t | escape }}"
              aria-label="{{ 'general.search.title' | t | escape }}"
            >
            <button class="main-search__button" type="submit" aria-label="{{ 'general.search.submit' | t }}">
              {% render 'icon-search' %}
            </button>
          </div>
          {%- if settings.show_search_suggestions -%}
            <script src="{{ 'search-suggestions.js' | asset_url }}" defer></script>
            <search-suggestions></search-suggestions>
          {%- endif -%}
        </form>

        <div class="main-search__results"></div>

        {% if show_search_recommendations %}
          <div class="main-search__suggestions">
            {% if section.settings.search_recommendations_title != blank %}
              <div class="h4 heading-font">{{ section.settings.search_recommendations_title }}</div>
            {% endif %}
            {% if section.settings.search_recommendations_menu != blank %}
              {%- liquid
                assign suggestions_menu = linklists[section.settings.search_recommendations_menu]

                if settings.coll_grid_image_shape == 'portrait-23'
                  assign collection_aspect_ratio = 0.67
                elsif settings.coll_grid_image_shape == 'portrait-45'
                  assign collection_aspect_ratio = 0.8
                elsif settings.coll_grid_image_shape == 'square'
                  assign collection_aspect_ratio = 1.0
                elsif settings.coll_grid_image_shape == 'landscape-54'
                  assign collection_aspect_ratio = 1.25
                elsif settings.coll_grid_image_shape == 'landscape-32'
                  assign collection_aspect_ratio = 1.50
                elsif settings.coll_grid_image_shape == 'tallest'
                  assign collection_aspect_ratio = 999
                  for link in suggestions_menu.links
                    for child_link in link.links
                      if child_link.type == 'collection_link'
                        if child_link.object.featured_image.aspect_ratio < collection_aspect_ratio
                          assign collection_aspect_ratio = child_link.object.featured_image.aspect_ratio
                        endif
                      endif
                    endfor

                    if link.type == 'collection_link'
                      if link.object.featured_image.aspect_ratio < collection_aspect_ratio
                        assign collection_aspect_ratio = link.object.featured_image.aspect_ratio
                      endif
                    endif
                  endfor
                else
                  assign collection_aspect_ratio = 0
                  for link in suggestions_menu.links
                    for child_link in link.links
                      if child_link.type == 'collection_link' and child_link.object.featured_image.aspect_ratio > collection_aspect_ratio
                        assign collection_aspect_ratio = child_link.object.featured_image.aspect_ratio
                      endif
                    endfor

                    if link.type == 'collection_link' and link.object.featured_image.aspect_ratio > collection_aspect_ratio
                      assign collection_aspect_ratio = link.object.featured_image.aspect_ratio
                    endif
                  endfor
                endif

                if settings.prod_thumb_shape == 'portrait-23'
                  assign product_aspect_ratio = 0.67
                elsif settings.prod_thumb_shape == 'portrait-45'
                  assign product_aspect_ratio = 0.8
                elsif settings.prod_thumb_shape == 'square'
                  assign product_aspect_ratio = 1.0
                elsif settings.prod_thumb_shape == 'landscape-54'
                  assign product_aspect_ratio = 1.25
                elsif settings.prod_thumb_shape == 'landscape-32'
                  assign product_aspect_ratio = 1.50
                elsif settings.prod_thumb_shape == 'tallest'
                  assign product_aspect_ratio = 99
                  for link in suggestions_menu.links
                    for child_link in link.links
                      if child_link.type == 'product_link' and child_link.object.featured_media.preview_image.aspect_ratio < product_aspect_ratio
                        assign product_aspect_ratio = child_link.object.featured_media.preview_image.aspect_ratio
                      endif
                    endfor
                    if link.type == 'product_link' and link.object.featured_media.preview_image.aspect_ratio < product_aspect_ratio
                      assign product_aspect_ratio = link.object.featured_media.preview_image.aspect_ratio
                    endif
                  endfor
                else
                  assign product_aspect_ratio = 0
                  for link in suggestions_menu.links
                    for child_link in link.links
                      if child_link.type == 'product_link' and child_link.object.featured_media.preview_image.aspect_ratio > product_aspect_ratio
                        assign product_aspect_ratio = child_link.object.featured_media.preview_image.aspect_ratio
                      endif
                    endfor
                    if link.type == 'product_link' and link.object.featured_media.preview_image.aspect_ratio > product_aspect_ratio
                      assign product_aspect_ratio = link.object.featured_media.preview_image.aspect_ratio
                    endif
                  endfor
                endif
              -%}
              <div class="search-recommendations search-recommendations--collections-per-row-{{ settings.coll_thumb_mob_per_row }}">
                <div class="search-recommendations__item-row">
                  {% for link in suggestions_menu.links %}
                    {% if link.links != blank %}
                      <div class="search-recommendations__item search-recommendations__item--with-row">
                        <div class="search-recommendations__heading h5 heading-font">
                          <a href="{{ link.url }}">{{ link.title | escape }}</a>
                        </div>
                        <div class="search-recommendations__item-row">
                          {% for child_link in link.links %}
                            <div
                              class="search-recommendations__item search-recommendations__item--type-{{ child_link.type }}"
                              data-type=""
                            >
                              {% if child_link.type == 'collection_link' %}
                                {% render 'collection-block',
                                  collection: child_link.object,
                                  custom_aspect_ratio: collection_aspect_ratio,
                                  manual_loading: true
                                %}
                              {% elsif child_link.type == 'product_link' %}
                                {% render 'product-block',
                                  product: child_link.object,
                                  custom_aspect_ratio: product_aspect_ratio,
                                  manual_loading: true
                                %}
                              {% else %}
                                <a class="search-recommendations__link" href="{{ child_link.url }}">
                                  {{- child_link.title | escape -}}
                                </a>
                              {% endif %}
                            </div>
                          {% endfor %}
                        </div>
                      </div>
                    {% else %}
                      <div class="search-recommendations__item search-recommendations__item--type-{{ link.type }}">
                        {% if link.type == 'collection_link' %}
                          {% render 'collection-block',
                            collection: link.object,
                            custom_aspect_ratio: collection_aspect_ratio,
                            manual_loading: true
                          %}
                        {% elsif link.type == 'product_link' %}
                          {% render 'product-block',
                            product: link.object,
                            custom_aspect_ratio: product_aspect_ratio,
                            manual_loading: true
                          %}
                        {% else %}
                          <a class="search-recommendations__link" href="{{ link.url }}">
                            {{- link.title | escape -}}
                          </a>
                        {% endif %}
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </main-search>
  {%- endif -%}
</div>


{% schema %}
{
  "name": "Header New",
  "class": "section-header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo",
      "info": "520 x 200px (recommended)"
    },
    {
      "type": "range",
      "id": "logo_img_width_int",
      "min": 30,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Logo width",
      "default": 180
    },
    {
      "type": "range",
      "id": "mobile_logo_img_width_int",
      "min": 30,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "Mobile logo width",
      "default": 100
    },
    {
      "type": "checkbox",
      "id": "logo_h1",
      "label": "Enable logo <h1> on home page",
      "info": "For SEO. Deselect only if another section on the home page contains a primary page heading. [Learn more](https://cleancanvas.co.uk/support/symmetry/section-h1-setting)",
      "default": true
    },
    {
      "type": "header",
      "content": "Search"
    },
    {
      "type": "checkbox",
      "id": "enable_search",
      "label": "Enable search",
      "default": true
    },
    {
      "type": "text",
      "id": "search_recommendations_title",
      "label": "Recommendations title",
      "info": "Recommendations show when the search is opened."
    },
    {
      "type": "link_list",
      "id": "search_recommendations_menu",
      "label": "Recommendations menu",
      "info": "Dropdown menus will show as separate rows. Links to collections and products will show images."
    },
    {
      "type": "header",
      "content": "Icons"
    },
    {
      "type": "select",
      "id": "icon_strategy",
      "label": "Show icons",
      "info": "Only icons show on mobile",
      "options": [
        {
          "value": "icons_cart_search",
          "label": "On cart and search"
        },
        {
          "value": "icons_all",
          "label": "On all links"
        },
        {
          "value": "icons_only",
          "label": "Only icons, no text"
        }
      ],
      "default": "icons_cart_search"
    },
    {
      "type": "select",
      "id": "cart_icon",
      "label": "Cart icon",
      "options": [
        {
          "value": "bag",
          "label": "Bag"
        },
        {
          "value": "basket",
          "label": "Basket"
        },
        {
          "value": "cart",
          "label": "Cart"
        }
      ],
      "default": "basket"
    }
  ],
  "blocks": [
    {
      "type": "nav_block",
      "name": "Nav Item",
      "settings": [
        {
          "type": "text",
          "id": "nav_title",
          "label": "NavTitle",
          "default": "NavTitle"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link URL"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "liquid",
          "id": "code",
          "label": "Liquid code"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Header New",
      "settings": {}
    }
  ]
}
{% endschema %}
