<div id='section-id-{{ section.id }}'>
  {% if section.settings.title != blank %}
    <h2 class='hometitle h4 align-center' {%- render 'animation-attrs', attrs: 'data-cc-animate' -%}>
      {{- section.settings.title | escape -}}
    </h2>
  {% endif %}
  <div class='carousel-wrap'>
    {%- for block in section.blocks -%}
      {%- unless video_assets_output -%}
        <link rel='stylesheet' href='{{ 'video.css' | asset_url }}' {%- render 'lazy-stylesheet-attrs' %}>
        <script src='{{ 'video.js' | asset_url }}' defer></script>
      {%- endunless -%}

      {%- liquid
        assign video_assets_output = true

        assign using_video_tag = false
        if block.settings.video_shopify != blank
          assign using_video_tag = true
        endif

        if block.settings.placeholder_image
          assign placeholder_image = block.settings.placeholder_image
        elsif block.settings.video_shopify
          assign placeholder_image = block.settings.video_shopify.preview_image
        else
          assign placeholder_image = null
        endif

        assign autoplay = block.settings.auto_play
      -%}
      <div class='carousel-item'>
        <div class='video-section'>
          <div
            class='height--adapt image-overlay image-overlay--bg-no_background'
            {% if placeholder_image %}
              style='--aspect-ratio: {{ placeholder_image.aspect_ratio }}'
            {% endif %}
            {%- render 'animation-attrs', attrs: 'data-cc-animate' -%}
          >
            <div class='image-overlay__image height__image'>
              <deferred-media>
                {%- if autoplay == false -%}
                  <button type='button' class='js-load-media hidden' aria-hidden='true'></button>
                {%- endif -%}
                <template>
                  <video-component
                    class='{% if using_video_tag %}has-video{% else %}has-iframe{% endif %}'
                    {%- unless using_video_tag %}
                      data-video-url='{{ block.settings.video_external | escape }}'
                    {% endunless %}
                    data-video-id='{{ section.id }}'
                    data-autoplay='{{ autoplay }}'
                    data-background='false'
                    data-description='{{ block.settings.video_description | escape }}'
                  >
                    {%- if using_video_tag -%}
                      {{
                        block.settings.video_shopify
                        | video_tag:
                          playsinline: true,
                          controls: true,
                          autoplay: autoplay,
                          muted: autoplay,
                          loop: autoplay,
                          poster: ''
                        | replace: '<img ', '<img loading="lazy" hidden '
                      }}
                    {%- else -%}
                      <div></div>
                    {%- endif -%}
                  </video-component>
                </template>
              </deferred-media>

              {% if placeholder_image %}
                {%- render 'image' with placeholder_image, class: 'video-played-hidden' -%}
              {% elsif autoplay == false %}
                <div class='placeholder-image video-played-hidden'>
                  {{- 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' -}}
                </div>
              {% endif %}
            </div>

            {%- if autoplay == false -%}
              <div class='text-overlay text-overlay--for-banner text-overlay--v-center text-overlay--h-center image-overlay__over video-played-hidden'>
                <div class='text-overlay__inner'>
                  <div class='text-overlay__text'>
                    <video-section-play-button
                      role='button'
                      tabindex='0'
                      type='button'
                      class='button-row__btn video-section__play-btn inline-block'
                    >
                      <span class='visually-hidden'>{{ 'general.icon_labels.play' | t }}</span>
                      {%- render 'icon-play' -%}
                    </video-section-play-button>
                  </div>
                </div>
              </div>
            {%- endif -%}

            {%- if autoplay == false -%}
              <script>
                if (!customElements.get('video-section-play-button')) {
                  class VideoSectionPlayButton extends HTMLElement {
                    connectedCallback() {
                      this.addEventListener('click', this.handleClick)
                    }

                    handleClick(evt) {
                      const section = evt.target.closest('.video-section')
                      section.querySelector('.js-load-media').click()
                      setTimeout(() => section.classList.add('video-section--played'), Shopify.designMode ? 500 : 1500)
                    }
                  }

                  customElements.define('video-section-play-button', VideoSectionPlayButton)
                }
              </script>
            {%- endif -%}
          </div>
        </div>
        <div class='info-block'>
          <div class='author-pic'>
            <img src='{{  block.settings.avatar | img_url: '77x77' }}'>
          </div>
          <div class='author-info'>
            <h3>{{ block.settings.author_name }}</h3>
            <p>{{ block.settings.subheading }}</p>
          </div>
        </div>
      </div>
    {%- endfor -%}
  </div>
</div>

<style>
  .carousel-wrap {
    width: 100vw;
    display: flex;
    overflow-x: scroll;
  }
  .carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 386px;
    height: 371px;
    background: #f1f1f1;
    border-radius: 16px;
    margin-right: 15px;
  }
  .video-section {
    height: 231px;
    overflow: hidden;
  }
  .height--adapt {
    width:100%;
    height:100%;
    }
  .info-block {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  .author-pic {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
  }
  .author-pic img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  @media (max-width: 768px) {
    .carousel-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-width: 320px;
      height: 297px;
      background: #f1f1f1;
      border-radius: 16px;
    }
    .author-pic {
      width: 60px;
      height: 60px;
    }
    .align-center {
      text-align: left;
    }
  }
</style>

{% schema %}
{
  "name": "Horizontal Carousel",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Horizontal Carousel"
    }
  ],
  "blocks": [
    {
      "type": "blog_card",
      "name": "Blog Card",
      "settings": [
        {
          "type": "text",
          "id": "author_name",
          "label": "Author Name",
          "default": "AuthorName"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading",
          "default": "Subheading"
        },
        {
          "type": "image_picker",
          "id": "avatar",
          "label": "Avatar"
        },
        {
          "id": "video_shopify",
          "type": "video",
          "label": "Video upload"
        },
        {
          "id": "video_external",
          "type": "text",
          "label": "External video",
          "info": "Supports YouTube and Vimeo",
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
        },
        {
          "id": "video_description",
          "type": "text",
          "label": "Video description",
          "info": "Describe the video for customers using screen readers. [Learn more](https://help.shopify.com/manual/online-store/themes/theme-structure/theme-features#video-block)"
        },
        {
          "id": "auto_play",
          "type": "checkbox",
          "label": "Top AutoPlay",
          "info": "Video will be muted",
          "default": false
        },
        {
          "id": "placeholder_image",
          "type": "image_picker",
          "label": "Custom placeholder image",
          "info": "Required for External videos. Choose an image the same shape as your video."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Horizontal Carousel",
      "blocks": []
    }
  ]
}
{% endschema %}
