<div
  id='section-id-{{ section.id }}'
  class='container fully-spaced-row--medium cf section-id-{{ section.id }}'
  data-section-type='custom-row'
>
  {% if section.settings.title != blank %}
    <h2
      class='hometitle h4 align-center spaced-row'
      {%- render 'animation-attrs', attrs: 'data-cc-animate data-cc-animate-delay="0.15s"' -%}
    >
      {{ section.settings.title | escape }}
    </h2>
  {% endif %}
  <div id="block-id-{{ block.id }}" class="wrap column column--{{ block.settings.width }} block-id-{{ block.id }}" {{ block.shopify_attributes }} data-cc-animate="cc-fade-in-up" data-cc-animate-delay="{{ forloop.index | times: 0.15 }}s">
    {% for block in section.blocks %}
      {% if block.type == 'custom_row_block' %}
        <div class='item-row'>
          <img  class="item-row-img" src="{{ block.settings.image | img_url: '600x300'}}"></img>
          {{ block.settings.subheading }}
        </div>
      {% elsif block.type == 'custom_column_block' %}
        <div class='item-column'>
          <div class='child-item-column'>
            <img class="item-column-img" src="{{ block.settings.top_image| img_url: '600x300'}}"></img>
            <div class="column-subheading"> {{ block.settings.top_subheading }}</div>
          </div>
          <div class='child-item-column' style="background-image:url('{{  block.settings.bot_image }}');">
            <img class="item-column-img" src="{{ block.settings.bot_image| img_url: '600x300'}}"></img>
            <div class="column-subheading"> {{ block.settings.bot_subheading }}</div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<style>
  .wrap {
    display: flex;
    gap: 20px;
  }
  .item-row-img{
    width:100%;
  }
  .item-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 33%;
    height: 100%;
    border-radius: 16px;
    background: #fff;
    padding: 10px;
    font-weight:bold;
    color: #000;
  }
  .item-column {
    width: 33%;
    display: flex;
    border-radius: 16px;
    flex-direction: column;
    gap: 20px;
    color:#000000
  }
  .child-item-column {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 50%;
    overflow: hidden;
    background: #fff;
    border-radius: 16px;
    background-size:100% 100%;
    color:#000000
  }
  .item-column-img{
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
  }
  .column-subheading{
    font-weight:bold;
    z-index: 100;
    margin-left:20px;
    width: 100px;
  }
  @media (max-width: 768px) {
    .wrap {
      display: flex;
      flex-direction: column;
      width:100%;
      height:100%;
    }
    .item-row {
      width:100%;
    }
    .item-column{
      flex-direction: unset;
      width:100%;
    }
    .child-item-column{
      height:110px;
    }
    .column-subheading,.item-row {
      font-size:12px
    }

  }

</style>
{% schema %}
{
  "name": "Layout Row",
  "class": "section-layout-row",
  "max_blocks": 3,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Layout Row"
    }
  ],
  "blocks": [
    {
      "type": "custom_row_block",
      "name": "Custom Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "2048 x 1024px recommended"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading",
          "default": "Subheading"
        },
      ]
    },
    {
      "type": "custom_column_block",
      "name": "Custom Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "top_image",
          "label": "Top BackGround",
        },
        {
          "type": "richtext",
          "id": "top_subheading",
          "label": "Top Subheading",
          "default": "<p>Use this text to share information about your store with your customers.</p><p>Describe products, share announcements, or welcome customers to your store.</p>"
        },
        {
          "type": "image_picker",
          "id": "bot_image",
          "label": "Bot BackGround",
        },
        {
          "type": "richtext",
          "id": "bot_subheading",
          "label": "Bot Subheading",
          "default": "<p>Use this text to share information about your store with your customers.</p><p>Describe products, share announcements, or welcome customers to your store.</p>"
        },
      ]
    },
    {
      "type": "html",
      "name": "Custom Liquid",
      "settings": [
        {
          "type": "liquid",
          "id": "code",
          "label": "Custom Liquid"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Layout",
      "blocks": [
        {
          "type": "custom_row_block"
        },
        {
          "type": "custom_row_block"
        },
        {
          "type": "custom_column_block"
        }
      ]
    }
  ]
}
{% endschema %}
