{% style %}
  body {
    --heading-color: {{ section.settings.text_color.rgb }};
    --text-color: {{ section.settings.text_color.rgb }};
    --body-text-color: {{ section.settings.text_color.rgb }};
    --link-color: {{ section.settings.text_color.rgb }};
    --body-bg-color: {{ section.settings.bg_color.rgb }};
    color: {{ section.settings.text_color }};
    background: {{ section.settings.bg_color }};
  }
{% endstyle %}

{% if section.settings.background_image != blank %}
<div class="password-background img-fill">
  {% render 'image' with section.settings.background_image %}
</div>
{% endif %}

<div id="{{ section.id }}">
  <div class="container">
    <div class="reading-width rte text-center spaced-row">
      {%- if section.settings.heading != blank -%}
        <h2 class="h1">{{ section.settings.heading | escape }}</h2>
      {%- endif -%}

      {%- if section.settings.text != blank -%}
        {{ section.settings.text }}
      {%- elsif shop.password_message != blank -%}
        <p>{{ shop.password_message }}</p>
      {%- endif -%}
    </div>

    {%- if section.settings.show_signup -%}
      {%- form 'customer', class: 'form signup-form spaced-row text-center' -%}
        <input type="hidden" name="contact[tags]" value="prospect, newsletter, password page">

        {%- if section.settings.signup_heading != blank -%}
          <h2 class="h4">{{ section.settings.signup_heading | escape }}</h2>
        {%- endif -%}

        {%- if form.posted_successfully? -%}
          <div class="alert mb-8 bg-success-bg text-success-text" id="pwd-signup-success" tabindex="-1" autofocus>
            {{ 'templates.password.signup_form.success' | t }}
          </div>
        {%- endif -%}

        <div>
          <div class="signup-form__inline-container">
            <label class="label visually-hidden" for="pwd-signup-email">
              {{- 'templates.password.signup_form.email_label' | t -}}
            </label>
            <input type="email"
                    class="signup-form__email"
                    id="pwd-signup-email"
                    name="contact[email]"
                    value="{{ form.email }}"
                    placeholder="{{ 'templates.password.signup_form.email_placeholder' | t }}"
                    autocomplete="email"
                    {%- if form.posted_successfully? %}
                      aria-describedby="pwd-signup-success"
                    {% elsif form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="pwd-signup-error"
                    {%- endif %}
                    aria-required="true"
                    required>
            <button class="btn btn--primary signup-form__button" name="commit">
              {{ 'templates.password.signup_form.submit' | t }}
            </button>
          </div>
        </div>

        {%- render 'form-errors', form: form, class: 'inline-block', id: 'pwd-signup-error' -%}
      {%- endform -%}
    {%- endif -%}

    {%- if section.settings.show_social -%}
      <div class="password-social text-center lightish-spaced-row-above">
        {%- if section.settings.social_heading != blank -%}
          <h2 class="h4">{{ section.settings.social_heading | escape }}</h2>
        {%- endif -%}
        {% render 'social-media', icon: settings.social_custom_icon, class: 'justify-center' %}
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Password page",
  "class": "section-password section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Opening soon"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "info": "If entered, replaces text from Online store > Preferences > Password protection"
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "paragraph",
      "content": "Customers who subscribe will have an account created for them. [Learn more](https://help.shopify.com/en/manual/customers/manage-customers)"
    },
    {
      "type": "checkbox",
      "id": "show_signup",
      "label": "Show newsletter sign-up",
      "default": true
    },
    {
      "type": "text",
      "id": "signup_heading",
      "label": "Heading",
      "default": "Find out when we open"
    },
    {
      "type": "header",
      "content": "Social links"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "label": "Show social media links",
      "info": "Add links to your social media accounts in theme settings.",
      "default": true
    },
    {
      "type": "text",
      "id": "social_heading",
      "label": "Heading",
      "default": "Follow us on"
    },
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#333333"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#ffffff"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image"
    }
  ]
}
{% endschema %}
