{%- for block in section.blocks -%}
  {%- if block.settings.video_shopify != blank -%}
    <link rel="stylesheet" href="{{ 'video.css' | asset_url }}" {%- render 'lazy-stylesheet-attrs' %}>
    <script src="{{ 'video.js' | asset_url }}" defer></script>
    {%- break -%}
  {%- endif -%}
{%- endfor -%}

<div class="section-id-{{ section.id }}">
  <div class="container layout-flex">
    {%- for block in section.blocks -%}
      <div style="width: {{ block.settings.width:block.settings.width_text+'%' }}; height: {{ block.settings.height_text+'px' }};">
        
      </div>
    {%- endfor -%}
  </div>
</div>

<style>
  .layout-flex{
    display:flex;
    flex-wrap:wrap;
  }
</style>

{% schema %}
{
  "name": "Product Layout",
  "class": "section-product-layout",
  "disabled_on": {
  },
  "settings": [
  ],
  "blocks": [
    {
      "type": "text_block",
      "name": "Product",
      "settings": [
        {
          "type": "text",
          "id": "width_text",
          "label": "Width % unit"
        },
        {
          "type": "text",
          "id": "height_text",
          "label": "Height px unit"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "id": "video_shopify",
          "type": "video",
          "label": "Video upload",
          "info": "Hosted by Shopify. Video will autoplay and be muted."
        },
        {
          "type": "checkbox",
          "id": "enlarge_media",
          "label": "Enlarge media",
          "default": false
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading",
          "default": "Gallery"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "info": "Enter <br> for a line-break",
          "default": "Tell your story"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Layout",
      "settings": {
        "title": "Product Layout"
      },
      "blocks": [
        {
          "type": "text_block"
        },
        {
          "type": "text_block"
        },
        {
          "type": "text_block",
        }
      ]
    }
  ]
}
{% endschema %}
