{%- for block in section.blocks -%}
  {%- if block.settings.video_shopify != blank -%}
    <link rel="stylesheet" href="{{ 'video.css' | asset_url }}" {%- render 'lazy-stylesheet-attrs' %}>
    <script src="{{ 'video.js' | asset_url }}" defer></script>
    {%- break -%}
  {%- endif -%}
{%- endfor -%}


<div class="section-id-{{ section.id }}">
  <div class="container layout-flex">
    {% assign first_block = section.blocks[0] %}
    {% if first_block %}
      <div class="product-item">
        <div class="product-introduce">
          <h2>{{ first_block.settings.title }}</h2>
          <button class="pay-button">{{ first_block.settings.button_label }}</button>
        </div>
        <img class="product-img" src="{{ first_block.settings.image }}"/>
    </div>
    {% endif %}

    {% assign second_block = section.blocks[1] %}
    {% if second_block %}
      <div class="top-info product-item">
        <div class="product-introduce">
          <h2>{{ second_block.settings.title  }}</h2>
          <button class="pay-button">{{ second_block.settings.button_label }}</button>
        </div>
        <img class="product-img" src="{{ second_block.settings.image }}"/>
    </div>
    {% endif %}

    {% assign third_block = section.blocks[2] %}
    {% if third_block %}
      <div class="product-introduce">
        <h2>{{ third_block.settings.title  }}</h2>
        <button class="pay-button">{{ third_block.settings.button_label }}</button>
      </div>
      <div class="product-item single-column">
        <img class="product-img" src="{{ third_block.settings.image }}"/>
    </div>
    {% endif %}
  </div>
</div>

<style>
  .layout-flex{
    display:flex;
    flex-wrap:wrap;
  }
  .product-item{
    width:50%;
    height:300px;
    display:flex;
    flex-direction: column;
    background:#F8F9FD;
    border-radius: 20px;
    overflow: hidden;
  }
  .product-introduce{
    display: flex;
    flex-direction: column;
  }
  .pay-button{
    width: 220px;
    height: 48px;
    background: #000000;
    border-radius: 24px;
  }
  .single-column{
    width:100%;
    height:300px;
  }
  .product-img{
    width:100%;
    height:289px
  }
</style>

{% schema %}
{
  "name": "Product Layout",
  "class": "section-product-layout",
  "blocks": [
    {
      "type": "text_block",
      "name": "Product",
      "settings": [
        {
          "type": "text",
          "id": "custom_div_width",
          "label": "Width % unit",
          "default":"50",
        },
        {
          "type": "text",
          "id": "custom_div_height",
          "label": "Height px unit"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "id": "video_shopify",
          "type": "video",
          "label": "Video upload",
          "info": "Hosted by Shopify. Video will autoplay and be muted."
        },
        {
          "type": "checkbox",
          "id": "enlarge_media",
          "label": "Enlarge media",
          "default": false
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "info": "Enter <br> for a line-break",
          "default": "Tell your story"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading",
          "default": "Gallery"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button",
          "default":"Buy Now"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Layout",
      "blocks": [
        {
          "type": "text_block"
        },
        {
          "type": "text_block"
        },
        {
          "type": "text_block",
        }
      ]
    }
  ]
}
{% endschema %}
