{%- for block in section.blocks -%}
  {%- if block.settings.video_shopify != blank -%}
    <link rel="stylesheet" href="{{ 'video.css' | asset_url }}" {%- render 'lazy-stylesheet-attrs' %}>
    <script src="{{ 'video.js' | asset_url }}" defer></script>
    {%- break -%}
  {%- endif -%}
{%- endfor -%}

<div id="section-id-{{ section.id }}" class="section-pc">
  <div class="container layout-flex">
    {% assign first_block = section.blocks[0] %}
    {% if first_block %}
      <div class="product-item">
        <div class="product-introduce">
          <h2>{{ first_block.settings.title }}</h2>
          <button class="pay-button btn">{{ first_block.settings.button_label }}</button>
        </div>
        <img class="product-img" src="{{ first_block.settings.image | img_url: '230x100' }}">
      </div>
    {% endif %}

    {% assign second_block = section.blocks[1] %}
    {% if second_block %}
      <div class="top-info product-item">
        <div class="product-introduce">
          <h2>{{ second_block.settings.title }}</h2>
          <button class="pay-button btn">{{ second_block.settings.button_label }}</button>
        </div>
        <img class="product-img" src="{{ second_block.settings.image | img_url: '230x100' }}">
      </div>
    {% endif %}

    {% assign third_block = section.blocks[2] %}
    {% if third_block %}
      <div class="single-column">
        <div class="product-introduce">
          <h2>{{ third_block.settings.title }}</h2>
          <button class="pay-button btn">{{ third_block.settings.button_label }}</button>
        </div>
        <img class="product-img" src="{{ third_block.settings.image | img_url: '230x100' }}">
      </div>
    {% endif %}
  </div>
</div>

<div id="section-id-{{ section.id }}" class="section-mobile">
  <div class="container layout-flex">
    {% assign first_block = section.blocks[0] %}
    {% if first_block %}
      <div class="product-item">
        <div class="product-box">
          <img class="product-img" src="{{ first_block.settings.image | img_url: '230x100' }}">
        </div>
        <div class="product-introduce">
          <h2>{{ first_block.settings.title }}</h2>
          <button class="pay-button btn">{{ first_block.settings.button_label }}</button>
        </div>
      </div>
    {% endif %}

    {% assign second_block = section.blocks[1] %}
    {% if second_block %}
      <div class="top-info product-item">
        <div class="product-box">
          <img class="product-img" src="{{ second_block.settings.image | img_url: '230x100' }}">
        </div>
        <div class="product-introduce">
          <h2>{{ second_block.settings.title }}</h2>
          <button class="pay-button btn">{{ second_block.settings.button_label }}</button>
        </div>
      </div>
    {% endif %}

    {% assign third_block = section.blocks[2] %}
    {% if third_block %}
      <div class="single-column">
        <div class="product-box">
          <img class="product-img" src="{{ third_block.settings.image | img_url: '230x100' }}">
        </div>
        <div class="product-introduce">
          <h2>{{ third_block.settings.title }}</h2>
          <button class="pay-button btn">{{ third_block.settings.button_label }}</button>
        </div>
      </div>
    {% endif %}
  </div>
</div>

<style>
  .section-mobile {
    display: none;
  }
  .layout-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    background: #f8f9fd;
    border-radius: 20px;
    height: 362px;
    overflow: hidden;
  }

  .product-introduce {
    width: 100%;
    text-align: center;
    padding: 20px;
  }
  .pay-button {
    padding: 10px 25px;
    background: #000000;
    border-radius: 24px;
  }
  .single-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 204px;
    background: #f8f9fd;
    .product-img {
      width: auto;
      height: auto;
    }

    @media (max-width: 768px) {
      .section-pc {
        display: none;
      }

      .section-mobile {
        display: block;
      }
    }
    .product-box {
      background: #fff;
    }
    .pay-button {
      padding: 10px 25px;
      background: linear-gradient(to right, #f27b00, #ca251d);
      width: 100px;
      text-align: center;
      border-radius: 24px;
    }
  }
</style>

{% schema %}
{
  "name": "Product Layout",
  "class": "section-product-layout",
  "max_blocks": 3,
  "blocks": [
    {
      "type": "text_block",
      "name": "Product",
      "settings": [
        {
          "type": "text",
          "id": "custom_div_width",
          "label": "Width % unit",
          "default": "50"
        },
        {
          "type": "text",
          "id": "custom_div_height",
          "label": "Height px unit"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "id": "video_shopify",
          "type": "video",
          "label": "Video upload",
          "info": "Hosted by Shopify. Video will autoplay and be muted."
        },
        {
          "type": "checkbox",
          "id": "enlarge_media",
          "label": "Enlarge media",
          "default": false
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "info": "Enter <br> for a line-break",
          "default": "Tell your story"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading",
          "default": "Gallery"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button",
          "default": "Buy Now"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Layout",
      "blocks": [
        {
          "type": "text_block"
        },
        {
          "type": "text_block"
        },
        {
          "type": "text_block"
        }
      ]
    }
  ]
}
{% endschema %}
