
<div class="recommend-wrap">
  {% if section.settings.title != blank %}
    <h2 class="hometitle h4 align-center" {%- render 'animation-attrs', attrs: 'data-cc-animate' -%}>
      {{- section.settings.title | escape -}}
    </h2>
  {% endif %}

  <div class="recommend-container">
    
    {% for block in section.blocks %}

      {% if block.type == 'video' %}
          <link rel="stylesheet" href="{{ 'video.css' | asset_url }}" {%- render 'lazy-stylesheet-attrs' %}>
          <script src="{{ 'video.js' | asset_url }}" defer></script>
      {% endif %}

      {%- liquid
        assign using_video_tag = false
        if block.settings.video_shopify != blank
          assign using_video_tag = true
        endif

        if block.settings.placeholder_image
          assign placeholder_image = block.settings.placeholder_image
        elsif block.settings.video_shopify
          assign placeholder_image = block.settings.video_shopify.preview_image
        else
          assign placeholder_image = null
        endif

        assign autoplay = block.settings.autoplay
      -%}

      <div class="card-item">
        <div class="item-head">
          <div class="avatar">
            <img src="{{  block.settings.avatar | img_url: '77x77' }}"/>
          </div>
          <div class="user-info">
            <p class="user-name">{{ block.settings.name }}</span>
            {%- if block.settings.star_rating > 0 -%}
                <div class="testimonial__star-rating heading-font" style="display:flex"> 
                  {%- for i in (1..block.settings.star_rating) -%}
                  <span style="color:#FFCC00" class="testimonial__star">{% render 'icon-star' %}</span>
                  {%- endfor -%}
                </div>
              {%- endif -%}
          </div>
        </div>
        <div class="item-video">
          <div class="height--adapt image-overlay image-overlay--bg-no_background" {% if placeholder_image %}style="--aspect-ratio: {{ top_placeholder_image.aspect_ratio }}"{% endif %} {%- render 'animation-attrs', attrs: 'data-cc-animate' -%}>
            <div class="image-overlay__image height__image">
              <deferred-media>
                {%- if autoplay == false -%}<button type="button" class="js-load-media hidden" aria-hidden="true"></button>{%- endif -%}
                <template>
                  <video-component class="{% if using_video_tag %}has-video{% else %}has-iframe{% endif %}"
                    {%- unless using_video_tag %} data-video-url="{{ block.settings.video_external | escape }}"{% endunless %}
                                  data-video-id="{{ section.id }}"
                                  data-autoplay="{{ autoplay }}"
                                  data-background="false"
                                  data-description="{{ block.settings.video_description | escape }}">
                    {%- if using_video_tag -%}
                      {{ block.settings.video_shopify | video_tag: playsinline: true, controls: true, autoplay: autoplay, muted: autoplay, loop: autoplay, poster: '' | replace: '<img ', '<img loading="lazy" hidden ' }}
                    {%- else -%}
                      <div></div>
                    {%- endif -%}
                  </video-component>
                </template>
              </deferred-media>

              {% if placeholder_image %}
                {%- render 'image' with placeholder_image , class: 'video-played-hidden' -%}
              {% elsif autoplay == false %}
                <div class="placeholder-image video-played-hidden">{{- 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' -}}</div>
              {% endif %}
            </div>

            {%- if autoplay == false -%}
              <div class="text-overlay text-overlay--for-banner text-overlay--v-center text-overlay--h-center image-overlay__over video-played-hidden">
                <div class="text-overlay__inner">
                  <div class="text-overlay__text">
                    <video-section-play-button role="button" tabindex="0" type="button" class="button-row__btn video-section__play-btn inline-block">
                      <span class="visually-hidden">{{ 'general.icon_labels.play' | t }}</span>
                      {%- render 'icon-play' -%}
                    </video-section-play-button>
                  </div>
                </div>
              </div>
            {%- endif -%}

          </div>
        </div>
        <div class="item-text">
          {{ block.settings.textarea }}
        </div>
      </div>
    {% endfor %}
  </div>

  <button class="carousel-btn prev-btn" onclick="prevBtn()">&lt;</button>
  <button class="carousel-btn next-btn" onclick="nextBtn()">&gt;</button>
</div>



<script >

  const observer = new MutationObserver(() => {
    const element = document.querySelector(".recommend-container");
    const items = document.querySelectorAll('.card-item');
    console.log("=======")
    if (element) {
        let currentIndex = 0;
        const itemsPerSlide = window.innerWidth > 768 ? 3 : 1;

        var updateSlider = function () {
            const itemWidth = items[0].clientWidth;
            container.style.transform = `translateX(-${currentIndex * itemWidth}px)`;
        };

        var prevBtn =  function () {
          console.log("===prev===")
          currentIndex = Math.max(currentIndex - 1, 0);
          updateSlider();
        }

        var nextBtn = function () {
          console.log("===next===")
          currentIndex = Math.max(currentIndex - 1, 0);
          updateSlider();
        }

        window.addEventListener('resize', function () {
            updateSlider();
        });
        observer.disconnect(); // 停止观察
    }
  });

  observer.observe(document.body, { childList: true, subtree: true });

</script>



<style>
    .hometitle{
        margin-bottom:100px;
    }
    .recommend-wrap {
        position: relative;
        overflow: hidden;
        width: 100%;
        max-width: 1200px;
        margin: auto;
        margin-top: 30px;
    }

  .recommend-container {
    display: flex;
    transition: transform 0.3s ease-in-out;
    width: 100%;
    max-width: 1440px;
  }

  .card-item {
    flex: 1 0 33.33%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    min-width: 0;
    height: 651;
  }

  .height--adapt {
    width: 100%;
    height: 100%;
  }
  .item-head {
    width: 100%;
    display: flex;
    position: absolute;
    margin-top: -45px;
    z-index: 1000;
  }
  .user-info{
    margin-left: 10px;
    font-weight: bold;
    color:#000000;    
  }
  .user-name{
    display:flex;
    margin:0;
  }

  .avatar {
    width: 77px;
    height: 77px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 31px;
  }
  .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .info {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
  }
  .item-video {
    width: 100%;
    height: 312px;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
  }
  .item-text {
    flex: 1;
    padding: 28px;
    background: #f5f5f7;
    box-sizing: border-box;
    word-wrap: break-word;
    border-radius: 0 0 20px 20px;
    color:#000000;
  }
  .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1001;
  }

  .prev-btn {
    left: 20px;
    display:none;
  }

  .next-btn {
    right: 20px;
    display:none;
  }

  @media (max-width: 768px) {
    .card-item {
      flex: 1 0 100%;
    }

    .prev-btn {
        left: 20px;
        display:block;
      }

    .next-btn {
        right: 20px;
        display:block;
    }
  }
</style>

{% schema %}
{
  "name": "Recommend",
  "class": "section-recommend",
  "disabled_on": {
    "groups": ["aside"]
  },
  "max_blocks": 3,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Recommend"
    }
  ],
  "blocks": [
    {
      "type": "text_block",
      "name": "Crad",
      "settings": [
        {
          "id": "avatar",
          "type": "image_picker",
          "label": "Author Avatar"
        },
        {
          "id": "name",
          "type": "text",
          "label": "Author Name",
          "default": "Author Name"
        },
        {
            "type": "range",
            "id": "star_rating",
            "min": 0,
            "max": 5,
            "step": 1,
            "label": "Star rating",
            "default": 5
        },
        {
          "id": "video_shopify",
          "type": "video",
          "label": "Video upload",
        },
        {
          "id": "video_external",
          "type": "text",
          "label": "External video",
          "info": "Supports YouTube and Vimeo",
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
        },
        {
          "id": "video_description",
          "type": "text",
          "label": "Video description",
          "info": "Describe the video for customers using screen readers. [Learn more](https://help.shopify.com/manual/online-store/themes/theme-structure/theme-features#video-block)"
        },
        {
          "id": "autoplay",
          "type": "checkbox",
          "label": "TopAutoplay",
          "info": "Video will be muted",
          "default": false
        },
        {
          "id": "placeholder_image",
          "type": "image_picker",
          "label": "Custom placeholder image",
          "info": "Required for External videos. Choose an image the same shape as your video."
        },
        {
          "id": "textarea",
          "type": "textarea",
          "label": "Textarea",
          "default": "Default Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Recommend",
      "settings": {},
      "blocks": [

      ]
    }
  ]
}
{% endschema %}
