{%- if section.blocks.size > 1 -%}
  <script src="{{ 'slideshow.js' | asset_url }}" defer></script>
{%- endif -%}

<div
  id="section-id-{{ section.id }}"
  {%- render 'animation-attrs', attrs: 'data-cc-animate data-cc-animate-delay="0.2s"' -%}
>
  {% style %}
    {%- if section.settings.autoplay -%}
      #section-id-{{ section.id }} slide-show {
        --duration: {{ section.settings.autoplay_speed }}s;
        --play-state: paused;
      }
    {%- endif -%}

    {%- if section.settings.height == 'fixed' %}
      #section-id-{{ section.id }} .height--fixed {
        --image-height: {{ section.settings.height_mobile }}px;
      }

      @media (min-width: 768px) {
        #section-id-{{ section.id }} .height--fixed {
          --image-height: {{ section.settings.height_desktop }}px;
        }
      }
    {%- endif -%}

    {%- if section.settings.height == 'adapt' %}
      #section-id-{{ section.id }} .height--adapt {
        {%- if section.blocks.first.settings.mobile_image -%}
          --aspect-ratio: {{ section.blocks.first.settings.mobile_image.aspect_ratio }};
        {%- else -%}
          --aspect-ratio: {{ section.blocks.first.settings.image.aspect_ratio | default: 2.0 }};
        {%- endif -%}
      }
      {%- if section.blocks.first.settings.mobile_image -%}
      @media (min-width: 768px) {
        #section-id-{{ section.id }} .height--adapt {
          --aspect-ratio: {{ section.blocks.first.settings.image.aspect_ratio | default: 2.0 }};
        }
      }
      {%- endif -%}
    {%- endif -%}

    {%- for block in section.blocks -%}
      #section-id-{{ section.id }} .slide-{{ forloop.index }} .text-overlay__title {
        font-size: {{ block.settings.title_size_mobile }}px;
        {%- if block.settings.title_size_mobile >= 90 -%}
        line-height: 1em;
        {%- endif %}
      }
    {%- endfor -%}

    @media (min-width: 768px) {
      {%- for block in section.blocks -%}
      #section-id-{{ section.id }} .slide-{{ forloop.index }} .text-overlay__title {
        {%- assign title_size_medium = block.settings.title_size | times: 0.7 | at_least: block.settings.title_size_mobile -%}
        font-size: {{ title_size_medium }}px;
        {%- if title_size_medium >= 90 -%}
        line-height: 1em;
        {%- endif %}
      }
      {%- endfor -%}
    }

    @media (min-width: 1100px) {
      {%- for block in section.blocks -%}
      #section-id-{{ section.id }} .slide-{{ forloop.index }} .text-overlay__title {
        font-size: {{ block.settings.title_size }}px;
        {%- if block.settings.title_size >= 90 -%}
        line-height: 1em;
        {%- endif %}
      }
      {%- endfor -%}
    }
  {% endstyle %}

  {%- unless section.settings.full_width -%}
    <div class="container container--not-mobile fully-spaced-row--medium fully-spaced-row--not-mobile">
  {%- endunless -%}
  <slide-show
    role="region"
    aria-roledescription="{{ 'sections.slideshow.carousel' | t }}"
    aria-label="{{ section.settings.accessibility_info | escape }}"
    data-autoplay="{{ section.settings.autoplay }}"
    data-speed="{{ section.settings.autoplay_speed }}"
    data-transition="{{ section.settings.transition }}"
    data-transition-out-delay="0"
    data-pause-autoplay-on-mouseover="false"
  >
    {% if section.settings.show_sticky_banner %}
      {% render 'sticky-banner' %}
    {% endif %}
    <div
      class="slideshow slideshow--navigation-{{ section.settings.navigation }}"
      id="slideshow-{{ section.id }}"
      aria-live="polite"
      aria-atomic="true"
    >
      {%- for block in section.blocks -%}
        {%- liquid
          assign show_overlay_text = false
          if block.settings.title != blank or block.settings.subheading != blank or block.settings.text != blank or block.settings.button_label_1 != blank or block.settings.button_label_2 != blank
            assign show_overlay_text = true
            assign wrap_slide_with_link = true
            if block.settings.slide_link == blank or block.settings.text contains '</a>' or block.settings.button_url_1 != blank or block.settings.button_url_2 != blank
              assign wrap_slide_with_link = false
            endif
          elsif block.settings.slide_link != blank
            assign wrap_slide_with_link = true
          endif
        -%}
        <image-with-text-overlay
          class="slideshow__slide slide-{{ forloop.index }}{% if forloop.first %} is-active{% endif %} height--{{ section.settings.height }} image-overlay image-overlay--bg-{{ section.settings.overlay_style }}{% if section.settings.mobile_overlay_under %} text-overlay-parent--mobile-stack{% endif %}"
          role="group"
          aria-roledescription="{{ 'sections.slideshow.slide' | t }}"
          aria-label="{{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
          {%- unless forloop.first %}
            tabindex="-1"
          {% endunless %}
          {%- if request.design_mode %}
            data-index="{{ forloop.index0 }}"
          {% endif %}
          style="--slide-index: {{ forloop.index }}"
          {{ block.shopify_attributes }}
        >
          {%- if wrap_slide_with_link -%}
            <a class="image-overlay__image-link" href="{{ block.settings.slide_link }}">
          {%- endif -%}

          {%- if block.settings.image == blank -%}
            <div class="height__image image-overlay__image overflow-hidden">
              <div class="slideshow__motion-media has-motion placeholder-image{% if show_overlay_text %} dark{% endif %}">
                {%- capture current %}{% cycle 1, 2 %}{% endcapture -%}
                {{- 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' -}}
              </div>
            </div>
          {%- else -%}
            {%- liquid
              assign loading = 'lazy'
              assign fetchpriority = null
              if forloop.first
                if section.location == 'header' or section.location == 'template' and section.index == 1
                  assign loading = 'eager'
                  assign fetchpriority = 'high'
                endif
              endif
            -%}

            <div class="height__image image-overlay__image overflow-hidden">
              {%- render 'image-desktop-and-mobile',
                class: 'slideshow__motion-media has-motion',
                desktop_image: block.settings.image,
                mobile_image: block.settings.mobile_image,
                loading: loading,
                fetchpriority: fetchpriority,
                block: block
              -%}
            </div>
          {%- endif -%}

          {%- if show_overlay_text -%}
            <div class="text-overlay text-overlay--with-reveal text-overlay--for-banner text-overlay--v-{{ block.settings.text_alignment | split: ' ' | first }} text-overlay--h-{{ block.settings.text_alignment | split: ' ' | last }} image-overlay__over has-motion">
              <div class="text-overlay__inner" style="--heading-max-width: {{ block.settings.heading_max_width }}em">
                <div class="text-overlay__text slideshow__motion-overlay has-motion">
                  {%- if block.settings.subheading != blank -%}
                    <div class="text-overlay__reveal">
                      <div class="text-overlay__subheading subheading subheading--over has-motion">
                        {{ block.settings.subheading | escape }}
                      </div>
                    </div>
                  {%- endif -%}
                  {%- if block.settings.title != blank -%}
                    <div class="text-overlay__reveal">
                      {% if block.settings.use_h1 %}
                        <h1 class="text-overlay__title has-motion">
                          {% render 'multiline-text' with block.settings.title %}
                        </h1>
                      {% else %}
                        <h2 class="text-overlay__title h1 has-motion">
                          {% render 'multiline-text' with block.settings.title %}
                        </h2>
                      {% endif %}
                    </div>
                  {%- endif -%}
                  {%- if block.settings.text != blank -%}
                    <div class="text-overlay__reveal">
                      <div class="text-overlay__rte rte {% if block.settings.enlarge_text %}large-text{% endif %} has-motion">
                        {{ block.settings.text }}
                      </div>
                    </div>
                  {%- endif -%}
                  {%- if block.settings.button_label_1 != blank or block.settings.button_label_2 != blank -%}
                    <div class="text-overlay__button-row">
                      {%- if wrap_slide_with_link -%}
                        {%- if block.settings.button_label_1 != blank -%}
                          <span class="text-overlay__button btn btn--secondary">
                            {{- block.settings.button_label_1 | escape -}}
                          </span>
                        {%- endif -%}
                        {%- if block.settings.button_label_2 != blank -%}
                          <span class="text-overlay__button btn btn--secondary">
                            {{- block.settings.button_label_2 | escape -}}
                          </span>
                        {%- endif -%}
                      {%- else -%}
                        {%- if block.settings.button_label_1 != blank -%}
                          <a class="text-overlay__button btn btn--secondary" href="{{ block.settings.button_url_1 }}">
                            {{- block.settings.button_label_1 | escape -}}
                          </a>
                        {%- endif -%}
                        {%- if block.settings.button_label_2 != blank -%}
                          <a class="text-overlay__button btn btn--secondary" href="{{ block.settings.button_url_2 }}">
                            {{- block.settings.button_label_2 | escape -}}
                          </a>
                        {%- endif -%}
                      {%- endif -%}
                    </div>
                  {%- endif -%}
                </div>
              </div>
            </div>
          {%- endif -%}

          {%- if wrap_slide_with_link -%}
            </a>
          {%- endif -%}
        </image-with-text-overlay>
      {%- endfor -%}
    </div>

    {%- if section.blocks.size > 1 and section.settings.navigation != 'none' -%}
      <div class="slideshow-ctrl js-only{% if section.settings.mobile_overlay_under %} slideshow-ctrl--mobile-stack{% endif %}">
        <div class="slideshow-pagination{% if section.settings.navigation == 'arrows' %} mobile-only{% endif %}">
          {%- for block in section.blocks -%}
            <button
              class="page-btn"
              data-index="{{ forloop.index0 }}"
              aria-controls="slideshow-{{ section.id }}"
              {% if forloop.first %}
                aria-current="true"
              {% endif %}
            >
              <span class="visually-hidden">
                {{- 'sections.slideshow.load_slide' | t }}
                {{ forloop.index }}
                {{ 'general.slider.of' | t }}
                {{ forloop.length -}}
              </span>
              <svg width="20" height="20" viewBox="0 0 24 24" fill="none" class="page-btn__circle">
                <circle class="page-btn__fg-circle" cx="12" cy="12" r="6" />
                <circle class="page-btn__bg-circle" cx="12" cy="12" r="6" />
              </svg>
            </button>
          {%- endfor -%}
        </div>

        {%- if section.settings.navigation == 'arrows' -%}
          <div class="slideshow-nav desktop-only">
            <button
              type="button"
              class="slideshow-nav__btn has-ltr-icon"
              name="prev"
              aria-controls="slideshow-{{ section.id }}"
            >
              <span class="visually-hidden">{{ 'general.slider.previous' | t }}</span>
              {% render 'icon-chevron-left' %}
            </button>

            <button
              type="button"
              class="slideshow-nav__btn has-ltr-icon"
              name="next"
              aria-controls="slideshow-{{ section.id }}"
            >
              <span class="visually-hidden">{{ 'general.slider.next' | t }}</span>
              {% render 'icon-chevron-right' %}
            </button>
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}
  </slide-show>

  {%- unless section.settings.full_width -%}</div>{%- endunless -%}
</div>

{% schema %}
{
  "name": "Slideshow",
  "class": "section-slideshow",
  "disabled_on": {
    "groups": ["aside"]
  },
  "max_blocks": 8,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_sticky_banner",
      "label": "Show StickyBanner",
      "default": false
    },
    {
      "type": "text",
      "id": "sticky_text",
      "label": "StickyBanner Text",
      "default": "Sticky Banner Text"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "StickyBanner URL",
      "default": "/collections/all"
    },
    {
      "type": "radio",
      "id": "height",
      "label": "Slide height",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt to first image"
        },
        {
          "value": "full",
          "label": "Full screen"
        },
        {
          "value": "fixed",
          "label": "Fixed height"
        }
      ],
      "default": "fixed"
    },
    {
      "type": "range",
      "id": "height_desktop",
      "min": 200,
      "max": 1000,
      "step": 20,
      "unit": "px",
      "label": "Desktop fixed height",
      "default": 600
    },
    {
      "type": "range",
      "id": "height_mobile",
      "min": 100,
      "max": 1000,
      "step": 20,
      "unit": "px",
      "label": "Mobile fixed height",
      "default": 460
    },
    {
      "id": "full_width",
      "type": "checkbox",
      "label": "Full page width",
      "default": true
    },
    {
      "id": "mobile_overlay_under",
      "type": "checkbox",
      "label": "Show text below image on mobile",
      "default": false
    },
    {
      "id": "overlay_style",
      "type": "select",
      "label": "Overlay style",
      "default": "shadow",
      "options": [
        {
          "value": "full",
          "label": "Tint"
        },
        {
          "value": "box",
          "label": "Box"
        },
        {
          "value": "shadow",
          "label": "Text shadow"
        },
        {
          "value": "full image-overlay--bg-shadow",
          "label": "Text shadow and tint"
        },
        {
          "value": "no_background",
          "label": "No background"
        }
      ]
    },
    {
      "type": "header",
      "content": "Slideshow navigation"
    },
    {
      "type": "select",
      "id": "transition",
      "label": "Transition",
      "options": [
        {
          "value": "zoom-fade",
          "label": "Zoom"
        },
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "slide-fade",
          "label": "Slide & Fade"
        },
        {
          "value": "instant",
          "label": "Instant"
        }
      ],
      "default": "fade"
    },
    {
      "id": "navigation",
      "type": "select",
      "label": "Slide navigation style",
      "default": "arrows",
      "options": [
        {
          "value": "arrows",
          "label": "Arrows"
        },
        {
          "value": "dots",
          "label": "Dots"
        },
        {
          "value": "none",
          "label": "None"
        }
      ]
    },
    {
      "id": "autoplay",
      "type": "checkbox",
      "label": "Auto-rotate slides",
      "default": true
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "min": 1,
      "max": 20,
      "step": 1,
      "unit": "s",
      "label": "Change slides every",
      "default": 7
    },
    {
      "type": "header",
      "content": "Accessibility"
    },
    {
      "type": "text",
      "id": "accessibility_info",
      "label": "Slideshow description",
      "info": "Describe the slideshow for customers using screen readers."
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "2048 x 1024px recommended"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile image",
          "info": "1024px x 1024px recommended"
        },
        {
          "type": "url",
          "id": "slide_link",
          "label": "Slide link",
          "info": "Not used if buttons or text contain links"
        },
        {
          "type": "header",
          "content": "Overlay"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading",
          "default": "Tell your story"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "info": "Enter <br> for a line-break",
          "default": "Slide heading"
        },
        {
          "type": "range",
          "id": "heading_max_width",
          "min": 4,
          "max": 40,
          "step": 1,
          "unit": "em",
          "label": "Maximum heading width",
          "default": 15
        },
        {
          "type": "range",
          "id": "title_size",
          "min": 20,
          "max": 150,
          "step": 2,
          "unit": "px",
          "label": "Desktop heading text size",
          "default": 84
        },
        {
          "type": "range",
          "id": "title_size_mobile",
          "min": 20,
          "max": 150,
          "step": 2,
          "unit": "px",
          "label": "Mobile heading text size",
          "default": 46
        },
        {
          "type": "checkbox",
          "id": "use_h1",
          "label": "Set as primary page heading",
          "info": "Use <h1> tag. One per page recommended. [Read more](https://cleancanvas.co.uk/support/symmetry/section-h1-setting)",
          "default": false
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>And optional subtext</p>"
        },
        {
          "type": "checkbox",
          "id": "enlarge_text",
          "label": "Enlarge text",
          "default": true
        },
        {
          "type": "text",
          "id": "button_label_1",
          "label": "Button 1 label",
          "default": "Shop this"
        },
        {
          "type": "url",
          "id": "button_url_1",
          "label": "Button 1 link"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "label": "Button 2 label",
          "default": "Shop all"
        },
        {
          "type": "url",
          "id": "button_url_2",
          "label": "Button 2 link"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text overlay position",
          "options": [
            {
              "value": "top left",
              "label": "Top left"
            },
            {
              "value": "top center",
              "label": "Top center"
            },
            {
              "value": "top right",
              "label": "Top right"
            },
            {
              "value": "center left",
              "label": "Middle left"
            },
            {
              "value": "center center",
              "label": "Middle center"
            },
            {
              "value": "center right",
              "label": "Middle right"
            },
            {
              "value": "bottom left",
              "label": "Bottom left"
            },
            {
              "value": "bottom center",
              "label": "Bottom center"
            },
            {
              "value": "bottom right",
              "label": "Bottom right"
            }
          ],
          "default": "center center"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slideshow",
      "settings": {},
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
