<div id='section-id-{{ section.id }}' class='container'>
  <div class='stream-container'>
    <div class='stream-bg'>
      <img src='{{ section.settings.background_image | img_url: '800x500' }}'>
    </div>
    <div class='stream-left'>
      <div class='stream-row  mag150'>
        <div class='image-top'>
          <img class='cover' src='{{ section.settings.image_left_top  | img_url: '500x500' }}'>
        </div>
        <div class='descriptio pad20'>
          {{ section.settings.text_left_top }}
        </div>
      </div>
      <div class='stream-row'>
        <div class='image-top'>
          <img class='cover' src='{{ section.settings.image_left_bot | img_url: '500x500'}}'>
        </div>
        <div class='description  pad20'>
          {{ section.settings.text_left_bot }}
        </div>
      </div>
    </div>
    <div class='stream-right'>
      <div class='sub-title'>
        {{ section.settings.subheading }}
      </div>
      <div class='stream-row'>
        <div class='image-top'>
          <img class='cover' src='{{ section.settings.image_right_top| img_url: '500x500'}}'>
        </div>
        <div class='description'>
          {{ section.settings.text_right_top }}
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .stream-container {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .stream-bg {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index:-1;
  }

  .stream-bg img {
    width: 100%;
    height: 100%;
    visibility: visible;
  }
  .stream-left {
    width: 48%;
  }
  .stream-right {
    width: 48%;
  }
  .cover {
    width: 100%;
  }
  .pad20 {
    padding-left: 20px;
  }
  .mag150 {
    margin-bottom: 150px;
  }
  .sub-title {
    font-size: 30px;
    font-weight: bold;
    text-transform: none;
    background: linear-gradient(to right, #f27b00, #ca251d);
    -webkit-background-clip: text;
    color: transparent;
  }
</style>

{% schema %}
{
  "name": "Stream Layout",
  "class": "section-stream-layout",
  "disabled_on": {
    "groups": ["aside"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image_left_top",
      "label": "Left Top Image"
    },
    {
      "type": "richtext",
      "id": "text_left_top",
      "label": "Left Top Text",
      "default": "<p>Pair text with an image to tell a story</p>"
    },
    {
      "type": "image_picker",
      "id": "image_left_bot",
      "label": "Left Bot Image"
    },
    {
      "type": "richtext",
      "id": "text_left_bot",
      "label": "Left Bot Text",
      "default": "<p>Pair text with an image to tell a story</p>"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Subheading"
    },
    {
      "type": "image_picker",
      "id": "image_right_top",
      "label": "Right Top Image"
    },
    {
      "type": "richtext",
      "id": "text_right_top",
      "label": "Right Top Text",
      "default": "<p>Pair text with an image to tell a story</p>"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "BackGround Image"
    }
  ],
  "presets": [
    {
      "name": "Stream Layout",
      "settings": {}
    }
  ]
}
{% endschema %}
