<div id='section-id-{{ section.id }}' class='container'>
  <div class='stream-container'>
    <div class='stream-left'>
      <div class='stream-row'>
        <div class='image-top'>
          <img class='cover' src="{{ section.settings.image_left_top }}">
        </div>
        <div class='description'>
          {{ section.settings.text_left_top }}
        </div>
      </div>
      <div class='stream-row'>
        <div class='image-top'>
          <img class='cover' src="{{ section.settings.image_left_bot }}">
        </div>
        <div class='description'>
          {{ section.settings.text_left_bot }}
        </div>
      </div>
    </div>
    <div class='stream-right'>
      <div class='sub-title'>
        {{ section.settings.subheading }}
      </div>
      <div class='stream-row'>
        <div class='image-top'>
          <img class='cover' src="{{ section.settings.image_right_top }}">
        </div>
        <div class='description'>
          {{ section.settings.text_right_top }}
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .stream-container {
    display: flex;
    justify-content: space-between;
  }
  .stream-left{
    width:50%;
  }
  .stream-right{
    width:50%;
  }
  .cover {
    width: 100%;
    height: 250px;
    background: #fff;
  }
  .sub-title {
    font-size: 30px;
    font-weight: bold;
    text-transform: none;
    background: linear-gradient(to right, #f27b00, #ca251d);
    -webkit-background-clip: text;
    color: transparent;
  }
</style>

{% schema %}
{
  "name": "Stream Layout",
  "class": "section-stream-layout",
  "disabled_on": {
    "groups": ["aside"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image_left_top",
      "label": "Left Top Image",
    },
    {
      "type": "richtext",
      "id": "text_left_top",
      "label": "Left Top Text",
      "default": "<p>Pair text with an image to tell a story</p>"
    },
    {
      "type": "image_picker",
      "id": "image_left_bot",
      "label": "Left Bot Image",
    },
    {
      "type": "richtext",
      "id": "text_left_bot",
      "label": "Left Bot Text",
      "default": "<p>Pair text with an image to tell a story</p>"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Subheading"
    },
    {
      "type": "image_picker",
      "id": "image_right_top",
      "label": "Right Top Image",
    },
    {
      "type": "richtext",
      "id": "text_right_top",
      "label": "Right Top Text",
      "default": "<p>Pair text with an image to tell a story</p>"
    },
  ],
  "presets": [
    {
      "name": "Stream Layout",
      "settings": {}
    }
  ]
}
{% endschema %}
