<div class="{% if section.settings.color_scheme != 'default' %}use-color-scheme use-color-scheme--{{ section.settings.color_scheme }} fully-padded-row--medium{% else %}fully-spaced-row--medium{% endif %}">
  <div class="container">
    <div class="flexible-layout valign-middle">
      <div class="column column--half {% if section.settings.video_position == 'right' %}column--order-push-desktop{% endif %}">

        {%- unless video_assets_output -%}
          <link rel="stylesheet" href="{{ 'video.css' | asset_url }}" {%- render 'lazy-stylesheet-attrs' %}>
          <script src="{{ 'video.js' | asset_url }}" defer></script>
        {%- endunless -%}

        {%- liquid
          assign video_assets_output = true

          assign using_video_tag = false
          if section.settings.video_shopify != blank
            assign using_video_tag = true
          endif

          if section.settings.placeholder_image
            assign placeholder_image = section.settings.placeholder_image
          elsif section.settings.video_shopify
            assign placeholder_image = section.settings.video_shopify.preview_image
          else
            assign placeholder_image = nil
          endif
        -%}

        <div class="video-section">
          <div class="height--adapt image-overlay image-overlay--bg-no_background" {% if placeholder_image %}style="--aspect-ratio: {{ placeholder_image.aspect_ratio }}"{% endif %} {%- render 'animation-attrs', attrs: 'data-cc-animate' -%}>
            <div class="image-overlay__image height__image">
              <deferred-media>
                {%- unless section.settings.autoplay -%}
                  <button type="button" class="js-load-media hidden" aria-hidden="true"></button>
                {%- endunless -%}

                <template>
                  <video-component class="{% if using_video_tag %}has-video{% else %}has-iframe{% endif %}"
                      {%- unless using_video_tag %} data-video-url="{{ section.settings.video_external | escape }}"{% endunless %}
                      data-video-id="{{ section.id }}"
                      data-autoplay="{{ section.settings.autoplay }}"
                      data-background="false"
                      data-natural-width= "true"
                      data-description="{{ section.settings.video_description | escape }}">
                    {%- if using_video_tag -%}
                      {%- if section.settings.autoplay -%}
                        {{ section.settings.video_shopify | video_tag: playsinline: true, controls: false, autoplay: true, muted: true, loop: true, poster: '' | replace: '<img ', '<img loading="lazy" hidden ' }}
                      {%- else -%}
                        {{ section.settings.video_shopify | video_tag: playsinline: true, controls: true, autoplay: false, muted: false, loop: false, poster: '' | replace: '<img ', '<img loading="lazy" hidden ' }}
                      {%- endif -%}
                    {%- else -%}
                      <div></div>
                    {%- endif -%}
                  </video-component>
                </template>

                {% if placeholder_image %}
                  {%- render 'image' with placeholder_image, class: 'video-played-hidden', size_cols_desktop: 2 -%}
                {% else %}
                  <div class="placeholder-image video-played-hidden">{{- 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' -}}</div>
                {% endif %}

                {%- unless section.settings.autoplay -%}
                  <div class="text-overlay text-overlay--for-banner text-overlay--v-center text-overlay--h-center image-overlay__over video-played-hidden">
                    <div class="text-overlay__inner">
                      <div class="text-overlay__text">
                        <button type="button" class="video-section__play-btn" onclick="this.closest('.video-section').querySelector('.js-load-media').click()">
                          <span class="visually-hidden">{{ 'general.icon_labels.play' | t }}</span>
                          {%- render 'icon-play' -%}
                        </button>
                      </div>
                    </div>
                  </div>
                {%- endunless -%}
              </deferred-media>
            </div>
          </div>
        </div>

      </div>

      <div class="column column--half align-ltr-{{ section.settings.text_alignment }}" {%- render 'animation-attrs', attrs: 'data-cc-animate' -%}>
        <div class="feature-text-paired">
          {% assign skip_block_count = 0 %}
          {% for block in section.blocks %}
            {%- liquid
              if skip_block_count > 0
                assign skip_block_count = skip_block_count | minus: 1
                continue
              endif
            -%}
            {% case block.type %}
              {% when 'heading' %}
                {% if block.settings.use_h1 %}
                  <h1 class="majortitle in-content" {{ block.shopify_attributes }}>{{ block.settings.title | escape }}</h1>
                {% else %}
                  <h2 class="majortitle in-content h1" {{ block.shopify_attributes }}>{{ block.settings.title | escape }}</h2>
                {% endif %}

              {% when 'subheading' %}
                <div class="subheading subheading--over lightish-spaced-row-above" {{ block.shopify_attributes }}>{{ block.settings.subheading | escape }}</div>

              {% when 'text' %}
                <div class="rte lightly-spaced-row {% if block.settings.enlarge_text %}large-text{% endif %}" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>

              {% when 'button' %}
                <div class="lightly-spaced-row button-row" {{ block.shopify_attributes }}>
                  <a class="{% if block.settings.button_style != 'link' %}btn btn--{{ block.settings.button_style }}{% else %}small-feature-link{% endif %} button-row__btn" href="{{ block.settings.button_link }}">{{ block.settings.button_label | escape }}</a>
                  {%- assign skip_block_count = 0 -%}
                  {%- for next_block in section.blocks offset: forloop.index -%}
                    {%- if next_block.type == 'button' -%}
                      {%- assign skip_block_count = skip_block_count | plus: 1 -%}
                      <a class="{% if next_block.settings.button_style != 'link' %}btn btn--{{ next_block.settings.button_style }}{% else %}small-feature-link{% endif %} button-row__btn" href="{{ next_block.settings.button_link }}" {{ block.shopify_attributes }}>{{ next_block.settings.button_label | escape }}</a>
                    {%- else -%}
                      {%- break -%}
                    {%- endif -%}
                  {%- endfor -%}
                </div>

              {% when 'image' %}
                <div class="lightly-spaced-row lightish-spaced-row-above inline-width-container" style="width: {{ block.settings.image_width }}px" {{ block.shopify_attributes }}>
                  {% if block.settings.url != blank %}<a href="{{ block.settings.url }}">{% endif %}
                    {% if block.settings.image != blank %}
                      {%- liquid
                        assign image_sizes = block.settings.image_width | append: 'px'
                        assign image_widths = block.settings.image_width | times: 2 | prepend: ', ' | prepend: block.settings.image_width
                        render 'image' with block.settings.image, sizes: image_sizes, widths: image_widths
                      -%}
                    {% else %}
                      <div class="placeholder-image">
                        {{- 'image' | placeholder_svg_tag: 'placeholder-svg' -}}
                      </div>
                    {% endif %}
                  {% if block.settings.url != blank %}</a>{% endif %}
                </div>

              {% when 'icon' %}
                <div class="lightly-spaced-row" {{ block.shopify_attributes }}>
                  <span class="large-light-icon">
                    {% render 'icon', icon: block.settings.icon, size: 'medium' %}
                  </span>
                </div>

              {%- when 'countdown' -%}
                <script src="{{ 'countdown-timer.js' | asset_url }}" defer></script>
                {% style %}
                  .block-id-{{ block.id }} .countdown {
                    --countdown-desktop-size: {{ block.settings.number_size }}px;
                  }
                {% endstyle %}

                <div class="block-id-{{ block.id }} lightly-spaced-row lightish-spaced-row-above countdown-font-{{ block.settings.number_font }} countdown-divider-{{ block.settings.divider_type }}" {{ block.shopify_attributes }}>
                  {% render 'countdown-timer',
                    end_date: block.settings.end_date,
                    end_time: block.settings.end_time,
                    end_text: block.settings.end_text,
                    end_midnight: true,
                    hide_on_end: block.settings.hide_on_end,
                    show_labels: block.settings.show_timer_labels
                  %}
                </div>

            {% endcase %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Video with text",
  "class": "section-video-with-text",
  "disabled_on": {
    "groups": [
      "aside"
    ]
  },
  "settings": [
    {
      "id": "video_shopify",
      "type": "video",
      "label": "Video upload",
      "info": "Hosted by Shopify. Replaces External video if both are set."
    },
    {
      "id": "video_external",
      "type": "text",
      "label": "External video",
      "info": "Supports YouTube and Vimeo",
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
    },
    {
      "type": "text",
      "id": "video_description",
      "label": "Video description",
      "info": "Describe the video for customers using screen readers. [Learn more](https://help.shopify.com/manual/online-store/themes/theme-structure/theme-features#video-block)"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Autoplay",
      "info": "Video will be muted",
      "default": false
    },
    {
      "id": "placeholder_image",
      "type": "image_picker",
      "label": "Custom placeholder image",
      "info": "Required for External videos. Choose an image the same shape as your video."
    },
    {
      "type": "select",
      "id": "video_position",
      "label": "Video alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "text_alignment",
      "id": "text_alignment",
      "label": "Text alignment",
      "default": "center"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "default",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Video with text"
        },
        {
          "type": "checkbox",
          "id": "use_h1",
          "label": "Set as primary page heading",
          "info": "Use <h1> tag. One per page recommended. [Read more](https://cleancanvas.co.uk/support/symmetry/section-h1-setting)",
          "default": false
        }
      ]
    },
    {
      "type": "subheading",
      "name": "Subheading",
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading",
          "default": "Subheading"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Pair text with a video to give customers insight into your brand. Tell a story, explain a product detail, or describe a new promotion.</p>"
        },
        {
          "type": "checkbox",
          "id": "enlarge_text",
          "label": "Enlarge text",
          "default": false
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "paragraph",
          "content": "Consecutive buttons will show on the same row"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button",
          "default": "Button text"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button style",
          "default": "primary",
          "options": [
            {
              "label": "Primary",
              "value": "primary"
            },
            {
              "label": "Secondary",
              "value": "secondary"
            },
            {
              "label": "Link",
              "value": "link"
            }
          ]
        }
      ]
    },
    {
      "type": "icon",
      "name": "Icon",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "default": "star",
          "options": [
            {
              "value": "award",
              "label": "Award"
            },
            {
              "value": "box",
              "label": "Box"
            },
            {
              "value": "briefcase",
              "label": "Briefcase"
            },
            {
              "value": "calendar",
              "label": "Calendar"
            },
            {
              "value": "chat_bubble",
              "label": "Chat bubble"
            },
            {
              "value": "check_mark",
              "label": "Check mark"
            },
            {
              "value": "check_mark_in_circle",
              "label": "Check mark in circle"
            },
            {
              "value": "clock",
              "label": "Clock"
            },
            {
              "value": "credit_card",
              "label": "Credit card"
            },
            {
              "value": "dollar_sign",
              "label": "Dollar sign"
            },
            {
              "value": "dryer",
              "label": "Dryer"
            },
            {
              "value": "eye",
              "label": "Eye"
            },
            {
              "value": "feather",
              "label": "Feather"
            },
            {
              "value": "gift",
              "label": "Gift"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "iron",
              "label": "Iron"
            },
            {
              "value": "leaf",
              "label": "Leaf"
            },
            {
              "value": "leather",
              "label": "Leather"
            },
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "map_pin",
              "label": "Map pin"
            },
            {
              "value": "pants",
              "label": "Pants"
            },
            {
              "value": "percent",
              "label": "Percent"
            },
            {
              "value": "plane",
              "label": "Plane"
            },
            {
              "value": "price_tag",
              "label": "Price tag"
            },
            {
              "value": "question_mark",
              "label": "Question mark"
            },
            {
              "value": "return",
              "label": "Return"
            },
            {
              "value": "ruler",
              "label": "Ruler"
            },
            {
              "value": "scissors",
              "label": "Scissors"
            },
            {
              "value": "shirt",
              "label": "Shirt"
            },
            {
              "value": "shoe",
              "label": "Shoe"
            },
            {
              "value": "silhouette",
              "label": "Silhouette"
            },
            {
              "value": "star",
              "label": "Star"
            },
            {
              "value": "truck",
              "label": "Truck"
            },
            {
              "value": "washing",
              "label": "Washing"
            }
          ]
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 60,
          "max": 700,
          "step": 10,
          "unit": "px",
          "label": "Image width",
          "default": 260
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link"
        }
      ]
    },
    {
      "type": "countdown",
      "name": "Countdown timer",
      "settings": [
        {
          "type": "text",
          "id": "end_date",
          "label": "End date",
          "info": "Required. Format: YYYY-MM-DD."
        },
        {
          "type": "text",
          "id": "end_time",
          "label": "End time (optional)",
          "info": "Format: 17:00 (24 hour clock). Uses the store's timezone."
        },
        {
          "type": "richtext",
          "id": "end_text",
          "label": "End text",
          "info": "This shows when the date and time elapses."
        },
        {
          "type": "checkbox",
          "id": "hide_on_end",
          "label": "Hide the timer when the date and time elapses",
          "default": false
        },
        {
          "type": "range",
          "id": "number_size",
          "min": 20,
          "max": 60,
          "step": 2,
          "unit": "px",
          "label": "Number size",
          "default": 40
        },
        {
          "type": "select",
          "id": "number_font",
          "label": "Number font",
          "options": [
            {
              "label": "Text font",
              "value": "base"
            },
            {
              "label": "Heading font",
              "value": "heading"
            }
          ],
          "default": "base"
        },
        {
          "type": "select",
          "id": "divider_type",
          "label": "Divider type",
          "default": "colon",
          "options": [
            {
              "value": "colon",
              "label": "Colon"
            },
            {
              "value": "dot",
              "label": "Dot"
            },
            {
              "value": "line",
              "label": "Line"
            },
            {
              "value": "none",
              "label": "None"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "show_timer_labels",
          "label": "Show labels",
          "default": true
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Video with text",
      "settings": {
      },
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
